.message-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  padding-right: 60px;
  overflow-y: scroll;
  max-height: 75%;
}
.message-group {
  display: flex;
  flex-direction: column;
}
.message-container::-webkit-scrollbar {
  display: none;
}

.message-container {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}

.message {
  max-width: 350px;
  padding: 10px;
  border-radius: 15px;
  margin: 5px 0;
  color: #fff;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.message.sent {
  background-color: #043f00;
  align-self: flex-end;
}

.message.received {
  background-color: #002a57;
  color: #fff5f5;
  align-self: flex-start;
}

.message-divider {
  position: relative; 
  text-align: center;
  font-weight: bold;
  margin: 20px 0; 
  color: #001cb9; 
  background-color: transparent; 
  font-size: 1.1em; 
}

.message-divider::before,
.message-divider::after {
  content: ""; 
  position: absolute;
  top: 50%; 
  height: 2px; 
  background-color: #565656; 
  border-radius: 2px; 
}

.message-divider::before {
  left: 0; 
  width: 30%; 
}

.message-divider::after {
  right: 0; 
  width: 30%; 
}

.message-divider .bulge {
  position: absolute; 
  left: 50%; 
  transform: translateX(-50%);
  top: 50%; 
  width: 50px; 
  height: 15px; 
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  z-index: 1; 
}

.message-divider span {
  padding: 0 15px; 
  position: relative; 
  z-index: 2; 
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

@media (max-width: 750px) {
  .message-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}