.container{
    background-color: black;
    height: 100vh;
    width: 100vw;
    position: absolute;
    top:0;
    left:0;
}
.main-div{
    margin:40px auto;
    height: 80vh;
    width: 80vw;
    width:80%;
    border: 2px solid black;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to bottom right, rgb(192, 143, 192), rgb(87, 168, 219), rgb(98, 125, 206));
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet) 3;
    border-image-slice: 10;
}
h1{
    margin: 0;
    width:80vw;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(94, 232, 230), rgb(27, 161, 27));
}
.chats{
    height: 68vh;
    width: 80vw;
    overflow-y: auto;
}

/* CSS for larger screens */
.form {
    padding-left: 10px;
    position: relative;
    background-image: linear-gradient(to bottom right, rgb(94, 232, 230), rgb(27, 161, 27));
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

input {
    padding-left: 10px;
    border: 0;
    height: 80%;
    width: 88%;
    border-radius: 20px;
}

button {
    width: 10%;
    height: 70%;
    color: white;
    font-size: larger;
    background-color: green;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 600px) {
    .form {
        flex-direction: column;
        height: auto; 
    }

    input, button {
        width: 90%; 
        height: 40px; 
        margin-top: 10px;
        margin-bottom: 20px; 
    }
    button {
        width:50%;

    }
}
.text{
    width:100px;
    background-color: yellow;
}