.composer-container {
    position: fixed;
    bottom: 0;
    height: 50px;
    width: 100%;
    display: flex;
    padding: 10px;
    background-color: #00356e;
    align-items: center;;
}

.MuiTextField-root {
    width: calc(100% - 430px);
    margin-right: 5px;
}
@media (max-width: 750px) {
    .MuiTextField-root {
        width: calc(80%);
    }       
}