.welcome {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-grow: 1;
  background: linear-gradient(to bottom, #082e57, #001124);
  color: #ecf0f1;
  text-align: center;
  position: relative;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
}
.welcome-header {
  position: relative;
  z-index: 2;
  text-align: center;
  margin-bottom: 30px;
}

.welcome-logo {
  width: 300px;
  margin-bottom: 15px;
}

.welcome-header h1 {
  font-size: 2.8rem;
  margin: 0;
  letter-spacing: 1px;
}

.welcome-header p {
  font-size: 1.3rem;
  margin: 2px 0 20px;
  font-weight: 300;
}

.welcome-illustration img {
  width: 80%;
  border-radius: 10px;
  max-width: 500px;
  height: auto;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .welcome-header h1 {
    font-size: 2.2rem;
  }

  .welcome-illustration img {
    width: 90%;
  }
}
