.contact{
    width:300px;
    background-color: violet;
    height: 60px;
    display:flex;
    align-items: center;
}
.profile-pic{
    height:40px;
    width: 40px;
    border-radius: 100%;
}
.contact-info{
    background-color: blue;
    width:100%  ;
    display: flex;
}
@media (max-width: 750px) {
    .contact{
        width:100%;
    }
    
}
.contact:hover{
    cursor:pointer;
}