.chat-header {
    position:"fixed";
    height: 70px;;
    background-color: #00356e;
    display:flex;
    align-items: center;
}
.current-pic{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
}
.current-username{
    height:50px;
    background-color: white;
}
