
.input-msg {
  width: 500px; 
  background-color: rgba(255, 255, 255, 0.52);
  border-radius: 10px;
}

.input-msg .MuiInputBase-input {
  height: 20px;
  border-radius: 10px;
   
}

.input-msg .MuiOutlinedInput-root {
  border-radius: 10px;
}

@media (min-width: 600px) {
  .input-msg {
    width: 800px;
  }
}

@media (max-width: 600px) {
  .input-msg {
    width: 90%; 
  }
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:20px;
    margin-bottom: 20px;
}
.sticker-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 10px; 
}

.sticker-item {
  width: 100%; 
  height: auto; 
  border:1px solid rgba(255, 255, 255, 0.319);
  cursor:pointer;
}
.gif-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 10px; 
}

.gif-item {
  width: 100%; 
  height: auto; 
  border:1px solid rgba(255, 255, 255, 0.319);
  cursor:pointer;
}
.MuiDialog-paper{
      background-image: linear-gradient(135deg,rgb(97, 20, 180), rgba(61, 31, 138, 0.969), rgba(128, 0, 128, 0.969)90%)!important;
    
}