
.input-msg {
  width: 500px; 
  background-color: rgba(255, 255, 255, 0.973);
  border-radius: 10px;
}

.input-msg .MuiInputBase-input {
  height: 30px;
  border-radius: 10px;
}


@media (min-width: 600px) {
  .input-msg {
    width: 800px;
  }
}

@media (max-width: 600px) {
  .input-msg {
    width: 95%; 
  }
}
.input-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height:30px;
    position: fixed;
}
.sticker-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 10px; 
}

.sticker-item {
  width: 100%; 
  height: auto; 
  border:1px solid rgba(255, 255, 255, 0.319);
  cursor:pointer;
}
.gif-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); 
    gap: 10px; 
}

.gif-item {
  width: 100%; 
  height: auto; 
  border:1px solid rgba(255, 255, 255, 0.319);
  cursor:pointer;
}