.add{
  background-image: linear-gradient(to bottom right , rgb(25, 8, 66), rgb(53, 2, 53));

}
.contact{
    padding-left: 10px;
    display: flex;
    justify-content: start;
    align-items: center;
    color:white;
    flex-wrap: wrap;
    cursor: pointer;
    margin-left:-13px;
      width:370px;
   height:70px;
   margin-bottom:1px;
   box-shadow:0 1px 0 rgba(255, 255, 255, 0.109);
   font-size:20px;
     overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.user-detail{
    height: 100%;
    max-width:270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.contact:hover{
    opacity:0.8;
}
.last-message{
    height: 32px;
    width:auto;
    font-size: 15px;
    opacity:0.8;
}
.user-info{
    padding-top:8px;
    width:270px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Search_Box{
    margin-left:-15px;
    width:355px;
    padding-top:10px;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(67, 3, 67, 0.969);
    margin-bottom: 5px;
    border-bottom: 1px thin rgba(255, 255, 255, 0.21);
}
.contact {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center align items vertically */
    margin-bottom: 10px;
}

.avatar-container {
    position: relative;
    margin-right: 10px; /* Add some spacing between the avatar and the status circle */
}

.status-circle {
    position: absolute;
    bottom: 8px;
    right: 6px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.status-circle.online {
    background-color: green;
}

.status-circle.offline {
    background-color: rgb(127, 17, 17);
}
