.add{
      background-image: linear-gradient(135deg,rgb(73, 20, 180), rgba(61, 31, 138, 0.969), rgba(128, 0, 128, 0.969));
  
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    cursor: pointer;
    margin-left:-13px;
    background-color: linear-gradient(180deg, rgb(220, 100, 184), rgb(223, 59, 141))!important;
   width:370px;
   height:70px;
   margin-bottom:1px;
   border-top:1px solid rgba(255, 255, 255, 0.433);
   box-shadow:0 1px 0 rgba(255, 255, 255, 0.49);
   font-size:30px;
}
.contact:hover{
    opacity:0.8;
}
